In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("IXIC.csv")
df = df.iloc[10000:]

# 0 down | false :: 1 up | true
df["openUp"] = 0 
df["openDown"] = 0
df["gapUp"] = 0
df["gapDown"] = 0
df["trend_d1"] = 0
df["trend_d2"] = 0
df["trend_w1"] = 0
df["trend_vol_up"] = 0
df["trend_vol_down"] = 0
df["trend_vol_same"]= 0
df["-2%"] = 0
df["-1%"] = 0
df["-0.5%"] = 0
df["-0%"] = 0
df["+0%"] = 0
df["+0.5%"] = 0
df["+1%"] = 0
df["+2%"] = 0

In [3]:
# df.loc[df['Open'] > df['Close'], 'openUp'] = 1

In [4]:
li = []
for i in range(len(df)): 
    if df.iloc[i]["Open"] > df.iloc[i-1]["Close"]:
        li.append(1)
    else:
        li.append(0)
df["openUp"] = li

In [5]:
li = []
for i in range(len(df)): 
    if df.iloc[i]["Open"] < df.iloc[i-1]["Close"]:
        li.append(1)
    else:
        li.append(0)
df["openDown"] = li

In [6]:
li = []
for i in range(len(df)): 
    if df.iloc[i]["Open"] > df.iloc[i-1]["High"]:
        li.append(1)
    else:
        li.append(0)
df["gapUp"] = li

In [7]:
li = []
for i in range(len(df)): 
    if df.iloc[i]["Open"] < df.iloc[i-1]["Low"]:
        li.append(1)
    else:
        li.append(0)
df["gapDown"] = li

In [8]:
li = []
for i in range(len(df)):
    try:
        diff = (df.iloc[i+1]["Close"] - df.iloc[i]["Close"]) / df.iloc[i]["Close"]
        li.append(diff)
    except:
        li.append("None")
df["future_mv"] = li

In [9]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,openUp,openDown,gapUp,gapDown,future_mv
10000,2010-09-22,2339.909912,2355.909912,2323.550049,2334.550049,2334.550049,2170210000,0,1,0,1,-0.0032
10001,2010-09-23,2316.709961,2353.790039,2316.110107,2327.080078,2327.080078,1923110000,0,1,0,1,0.023265
10002,2010-09-24,2356.260010,2381.219971,2353.500000,2381.219971,2381.219971,1993380000,1,0,1,0,-0.004808
10003,2010-09-27,2379.729980,2386.010010,2368.649902,2369.770020,2369.770020,1873120000,0,1,0,0,0.004144
10004,2010-09-28,2373.129883,2383.669922,2339.500000,2379.590088,2379.590088,2125730000,1,0,0,0,-0.001273
...,...,...,...,...,...,...,...,...,...,...,...,...
12927,2022-05-09,11923.030273,11990.610352,11574.940430,11623.250000,11623.250000,5911380000,0,1,0,1,0.009844
12928,2022-05-10,11900.339844,11944.940430,11566.280273,11737.669922,11737.669922,6199090000,1,0,0,0,-0.031815
12929,2022-05-11,11645.570313,11844.509766,11339.179688,11364.240234,11364.240234,6120860000,0,1,0,0,0.000591
12930,2022-05-12,11199.250000,11547.330078,11108.759766,11370.959961,11370.959961,6647400000,0,1,0,1,0.038171
12931,2022-05-13,11555.969727,11856.709961,11510.259766,11805.000000,11805.000000,5868610000,1,0,1,0,None